# App
# NUXT_APP_ENV=development

# Auth0 - dev
NUXT_PUBLIC_AUTH0_CLIENT_ID=YOUR_AUTH0_CLIENT_ID
NUXT_PUBLIC_AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN
NUXT_AUTH0_CLIENT_SECRET=YOUR_AUTH0_CLIENT_SECRET
NUXT_APP_URL=http://localhost:3000

# NUXT_PUBLIC_AUTH0_AUDIENCE=YOUR_AUTH0_AUDIENCE
NUXT_API_BASE_URL=http://localhost:8080

# Stripe - dev key
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY

# GitHub
NUXT_PUBLIC_GITHUB_OAUTH_CLIENT_ID=YOUR_GITHUB_OAUTH_CLIENT_ID
NUXT_GITHUB_OAUTH_CLIENT_SECRET=YOUR_GITHUB_OAUTH_CLIENT_SECRET
